/* 언어설정 */


@charset 'utf-8';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100..900&display=swap');

/* 기본설정 */



* {

  margin: 0;
  padding: 0;

}


ul {

  list-style: none;

}



a {

  text-decoration: none;
  color: #fff;

}


img {

  vertical-align: bottom;

}

/* 글꼴 설정 */

/* 프로필에서는 nanum pen 사용 */


body {

  font-family: "Montserrat", "Noto Sans KR", sans-serif;

}







/* 전체 설정 */






/* 인트로 설정 */

section.intro {

  z-index: 9999;

  width: 100%;


  height: 100%;

}



/* 로고 및 메뉴 설정 */








h1,
nav {
  position: fixed;

  top: 0;
  height: 150px;
  z-index: 2000;
  cursor: pointer;
}




/* 로고 */

h1 {


  width: 80px;
  opacity: 0.5;
  left: 0;
  transition: all 0.7s;
}


h1>span {

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


h1>span>img {

  width: 60%;

}



h1 .time {

  background-color: #fff;
  width: 400px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -400px;
  z-index: -1;
  transition: all 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


h1:hover {

  opacity: 1;

}



h1:hover .time {

  left: 0;
  opacity: 1;

}







/* 메뉴창 */

nav {

  opacity: 0.5;
  right: -80px;
  width: 160px;

  justify-content: space-between;
  transition: all 0.5s;

}

nav.on {

  opacity: 1;
  right: 0;

}



nav>span {

  width: 50%;
  height: 100%;
  background-color: #E4E4E6;
  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;

  border-bottom-left-radius: 20px;

  /* 화살표 회전 */
  perspective: 900px;

}

nav>span>i {
  color: #606060;
  font-size: 64px;
  transform: rotateY(0deg);
  transition: all 0.5s;

}



nav.on>span>i {

  transform: rotateY(180deg);

}



nav>.menu_bar {

  background-color: #606060;
  height: 100vh;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  display: flex;
  align-items: center;
}


nav ul {

  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


}

nav ul>li {

  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;

}




nav ul>li>.menu_txt {


  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 0px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  /* 메뉴창이 닫혔을때 */
  opacity: 0;

}

/* 메뉴창이 열려있고, 리스트에 호버했을 때 투명도 해제 */

nav.on ul>li:hover>.menu_txt {
  width: 230px;
  opacity: 1;


}





/* 메뉴창이 열려있고, 현재 리스트일때 투명도 해제 */

nav.on ul>li.on>.menu_txt {


  width: 230px;
  opacity: 1;

}







nav ul>li>.menu_txt>span {

  color: #fff;
  font-size: 20px;


}










/* section 설정 */





/* 인트로 */

section.intro {
  background-color: #E4E4E6;
  width: 100%;
  position: fixed;
  z-index: 9999;
  height: 100%;


}












section.intro .intro_area {

  position: absolute;
  background-image: url('img/roading/roading_bg.png');
  background-size: cover;
  background-position: center center;
  width: 1440px;
  height: 1024px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}



section.intro .signiture {

  width: 100%;
  height: 20%;
  overflow: hidden;
  position: relative;
  z-index: 1000;
}


section.intro .signiture li {

  position: absolute;
  top: -100%;
  height: 100%;
  width: 100%;
  left: 0;

  display: flex;
  justify-content: center;
}


section.intro .signiture li:nth-child(1) {

  top: 0;

}



section.intro .signiture li img {
  display: block;
  height: 100%;

}





section.intro .intro_area span {
  z-index: 100;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 32px;

}


/* 로딩이 100 이상이 될 시에 */

section.intro .intro_area span.off {

  color: red;

}









section.intro .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

}


section.intro .niddle {
  z-index: 10;
  height: 10%;
  position: absolute;
  right: 50%;
  top: 30%;
  animation: 1s ani1 linear;
  transform-origin: right bottom;
  transform: rotate(0deg);
}



/* 자르는 연출 */

section.intro .slush {

  display: none;
  width: 100%;
  height: 100%;
  background-color: #606060;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2000;
}





section.intro .slush.on {

  display: block;

}



section.intro .slush>img {


  position: absolute;
  /* top: 50%;
  left: 50%; */

  transform: translate(-50%, -50%);
  opacity: 0;

}


section.intro .slush>img:nth-child(1) {

  left: 40%;
  top: 40%;

}


section.intro .slush>img:nth-child(2) {

  left: 40%;
  top: 50%;


}







section.intro .intro_break {

  position: absolute;
  width: 1440px;
  height: 1024px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;

  perspective: 2300px;

}



section.intro .intro_break img {

  transform: translateZ(0);
  /* transform: scale(1); */
  opacity: 1;
}


section.intro .intro_break.on img.on {
  transform: translateZ(8000px);
  /* transform: scale(10); */
  opacity: 0;

}




section.intro .intro_break img:nth-child(1) {

  width: 1126px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s;

}








section.intro .intro_break img:nth-child(2) {

  height: 1024px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 1s 0.2s;

}


section.intro .intro_break img:nth-child(3) {

  width: 842px;
  position: absolute;
  bottom: 0;
  left: 382px;
  transition: all 1s 0.4s;

}

section.intro .intro_break img:nth-child(4) {

  height: 920px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 1s 0.6s;

}


section.intro .intro_break.on {


  display: block;


}




















































/* 프로필 */







section.profile {
  font-family: "Nanum Pen Script";
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1500;
  width: 100%;
  height: 100%;
  background-color: #E4E4E6;
  transition: all 1s;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;

}





section.profile.on {

  transform: scale(1);

}



section.profile>.profile_inner {
  width: calc(100% - 160px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}



/* 종이 배경 부분 */


section.profile .paper_bg {


  width: 1065px;


  height: 100%;

  max-height: 1024px;

  background-image: url('img/paper.jpg');

  background-size: cover;
  background-position: center center;

  position: relative;

}



/* 사진 테두리 전체설정 */


section.profile .paper_bg .picture {
  position: absolute;

  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  opacity: 0.5;
  transition: all 0.5s;
}





section.profile .paper_bg .picture:hover {
  opacity: 1;
}







/* 첫번째 사진 설정 */


section.profile .paper_bg .picture1 {


  top: 30px;

  left: 0;

  width: 200px;

  height: 250px;



  transform: rotate(-15deg);



}



/* 첫번째 사진 내부 설정 */


section.profile .paper_bg .picture1_box {

  width: 85%;
  height: 85%;
  background-image: url('img/filmo6.png');
  background-size: cover;
  background-position: center center;

}




section.profile .paper_bg .about {

  position: absolute;
  top: 30px;
  left: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

section.profile .paper_bg .about h3 {

  font-weight: 400;
  font-size: 24px;
  padding-bottom: 10px;

}


section.profile .paper_bg .about p {

  line-height: 1.5em;
  font-size: 16px;

}
















/* 메모지 설정 */


section.profile .paper_bg .memo {

  z-index: 100;
  position: absolute;

  top: 250px;
  left: 0;

  width: 250px;
  height: 200px;

  background-image: url('img/memo.png');
  background-size: cover;

}



/* 메모지 글 */


section.profile .paper_bg .memo .memo_write {

  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;

}



section.profile .paper_bg .memo .memo_write h4 {

  font-weight: 400;
  font-size: 24px;


}


section.profile .paper_bg .memo .memo_write span {


  font-size: 16px;

  padding-top: 15px;


}






/* 싸인 부분 */

section.profile .paper_bg .sign {


  width: 240px;
  height: 230px;
  position: absolute;
  left: 300px;
  top: 250px;
  background-image: url('img/sign.png');
  background-size: cover;
  background-position: center center;
  transform: rotate(30deg);


}











/* 두번째 사진 외부*/


section.profile .paper_bg .picture2 {


  top: 400px;

  left: 0;

  width: 350px;

  height: 300px;



  transform: rotate(15deg);



}


/* 두번째 사진 내부*/


section.profile .paper_bg .picture2_box {

  width: 85%;
  height: 85%;
  background-image: url('img/profile_hanyohan.png');
  background-size: cover;
  background-position: center center;

}





/* 세번째 사진 외부*/




section.profile .paper_bg .picture3 {


  top: 250px;

  right: 150px;

  width: 150px;

  height: 205px;



  transform: rotate(0);



}

/* 세번째 사진 내부*/


section.profile .paper_bg .picture3_box {

  width: 85%;
  height: 85%;
  background-image: url('img/active/activity1.jpg');
  background-size: cover;
  background-position: center center;

}









/* 네번째 사진 외부*/






section.profile .paper_bg .picture4 {


  top: 250px;

  right: 0px;

  width: 150px;

  height: 205px;



  transform: rotate(15deg);



}






/* 네번째 사진 내부*/


section.profile .paper_bg .picture4_box {

  width: 85%;
  height: 85%;
  background-image: url('img/hanyohan0.png');
  background-size: cover;
  background-position: center center;

}












/* tmi 글 */



section.profile .paper_bg .tmi {

  position: absolute;
  bottom: 30px;
  right: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

section.profile .paper_bg .tmi h3 {

  font-weight: 400;
  font-size: 24px;
  padding-bottom: 10px;

}


section.profile .paper_bg .tmi p {

  line-height: 1.5em;
  font-size: 16px;

}








































/* 본문영역 */





section.wrap {

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 600vh;
  display: flex;
  flex-direction: column;
  z-index: 100;
}




section.wrap article {
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #E4E4E6;
}





.main {

  position: relative;

}


.main .record {

  display: block;
  width: 300px;
  position: absolute;
  bottom: 40px;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.5s;


}


.main .record.on {

  transform: translateX(-50%);


}

























































/* sns 영역 */






/* sns 나열한 부분 */


.sns .sns_all {

  width: 80%;
  margin: 0 auto;
  height: 400px;
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}


/* 각 sns */

.sns .sns_all li {

  position: relative;
  width: 33.3333%;
  height: 100%;
  perspective: 2400px;
}



.sns .sns_all li a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;

}


/* sns 상징 이미지 */




.sns .sns_all li a .img {
  transform: scale(1);
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  opacity: 0.5;

}



/* 호버하면 투명도가 바뀌면서 사진이 확대됨 */

.sns .sns_all li a:hover .img {


  opacity: 1;
  transform: scale(1.2);

}




/* 사진 영역에 들어갈 사진들 */



.sns .sns_all li:nth-child(1) .img {

  background-image: url('img/sns1.png');

}


.sns .sns_all li:nth-child(2) .img {

  background-image: url('img/sns2.png');

}


.sns .sns_all li:nth-child(3) .img {

  background-image: url('img/sns3.png');

}










.sns .sns_all li .sns_app {

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%) rotateY(0deg);
  transform-origin: center center;
  width: 120px;
  height: 120px;
  background-color: #fff;
  border-radius: 20px;
  transition: all 0.5s;
}



.sns .sns_all li .sns_app.on {

  transform: translate(-50%, 50%) rotateY(360deg);

}





.sns .sns_all li .sns_app.youtube {

  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;


}



.sns .sns_all li .sns_app.youtube i {

  color: #ff0000;
  font-size: 64px;
}






.sns .sns_all li .sns_app.instagram {

  background: linear-gradient(180deg, rgba(131, 58, 180, 1) 0%, rgba(225, 48, 108, 1) 50%, rgba(255, 220, 128, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;


}



.sns .sns_all li .sns_app.instagram i {

  color: #fff;
  font-size: 64px;
}






.sns .sns_all li .sns_app.facebook {

  background-color: #1877F2;
  display: flex;
  justify-content: center;
  align-items: center;


}



.sns .sns_all li .sns_app.facebook i {

  color: #fff;
  font-size: 64px;
}







.sns .sns_all li .sns_txt {

  position: absolute;
  left: 0;
  top: calc(100% + 20%);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}





.sns .sns_all li .sns_txt h3 {

  transition: all 0.3s;
  font-size: 24px;
  color: #606060;

}


.sns .sns_all li .sns_youtube_txt h3.on {

  color: #ff0000;

}


.sns .sns_all li .sns_instagram_txt h3.on {

  color: #E1306C;

}

.sns .sns_all li .sns_facebook_txt h3.on {

  color: #1877F2;

}



.sns .sns_all li .sns_txt p {
  text-align: center;
  font-size: 16px;
  color: #606060;
}





















/* 필모그래피 */





.filmo_inner {

  position: relative;
  width: 100%;
  height: 100%;

}

.filmo_zone {



  
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


}

.filmo_zone .inner{
  height: 100%;

}


.filmo_zone .years {

  background-color: red;
  width: 100%;
  height: 50%;
  margin: 0 auto;
}




.filmo_zone .filmo_about {

  background-color: blue;
  width: 100%;
  height: 50%;
  margin: 0 auto;
}













































/* 미디어쿼리 설정 */


@media(min-width:1281px) {

  .inner {

    width: 1280px;
    margin: 0 auto;
    
  }

}